 <!-- Footer -->
 <br> <br> <br>
      <footer class="main-footer">
 
<div class="row"><br> <br> <br>

	<div class="col-md-4 col-sm-12">
    
                     <h5 class="widget-title">Company</h5>
                     <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact Us</a></li>
                     </ul>
        
               </div>

<div class="col-md-4 col-sm-6">
                  
                     <h5 class="widget-title">Learn More</h5>
                     <ul>
                        <li><a href="#">How it work</a></li>
                        <li><a href="#">Stories</a></li>
                        <li><a href="#">Security Centre</a></li>
                        <li><a href="#">Policies</a></li>
                        <li><a href="#">Terms & Privacy</a></li>
                        <li><a href="#">Help</a></li>
                     </ul>
              
               </div>

<div class="col-md-4 col-sm-6">
                   
                     <h5 class="widget-title">Follow Us</h5>
                     <ul>
                        <li><a target="_blank" href="https://www.facebook.com/RentMarketMalaysia/">Facebook</a></li>
                        <li><a target="_blank" href="https://twitter.com/RentMarket_MY">Twitter</a></li>
                        <li><a target="_blank" href="http://my.linkedin.com/in/rent-market-089425120">Linkedin</a></li>
                        <li><a href="#">Youtube</a></li>
                        <li><a href="#">Apple App Store</a></li>
                        <li><a href="#">Google Play Store</a></li>
                     </ul>
 
               </div>

 

            </div>
	<div class="footer-text">
      <p align="center">&copy; Rent Market Sdn Bhd 2016. All rights reserved.</p>
  	</div> 
      </footer>






<style type="text/css">

.main-footer
{
	background-color: #2b2d2e;
	color: #fff;
	position: relative;
   
   left: 0px;
   margin-top: 0px;
   border-bottom: 0px;
   bottom: 0px;
}

</style>